main {
  display: flex;
  min-height: calc(100vh - 4rem);
}

.sidebar {
  background: #99a3e6;
  width: calc(100% * 1 / 3);
  margin: 0;
  float: left;
}

.main {
  padding: 2rem;
  width: calc(100% * 2 / 3);
  margin: 0;
  float: left;
}
