@import "yoga";
@import "normalize";

$fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts";
@import "font-awesome";
@import "box-sizing";

$navbar_height: 4rem;

nav {
  position: fixed;
  top: 0;
  height: $navbar_height;
  width: 100%;
  background: #ddd;
}

nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  height: 100%;
  align-items: center;

  li {
    flex: 1;
    text-align: center;
  }

  a {
    color: #333;
    text-decoration: none;
  }
}

body {
  margin-top: $navbar_height;
}

main {
  display: flex;
  min-height: calc(100vh - 4rem);
}

.sidebar {
  background: #99a3e6;
  width: calc(100% * 1 / 3);
  margin: 0;
  float: left;
}

.main {
  width: calc(100% * 2 / 3);
  margin: 0;
  float: left;
}
